{% extends 'base.html.twig' %}

{% block title %}New VaccinInjection{% endblock %}

{% block body %}
    <h1>Create new VaccinInjection</h1>

    {{ include('vaccin_injection/_form.html.twig') }}

    <a href="{{ path('app_vaccin_injection_index') }}">back to list</a>
{% endblock %}
